
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font:bold;
    font-size: 15pt;
    width: 826px;
    height: 320px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }  
.first_div
{
    margin: 0 auto;
    display: inline-block;
    width: 1330px;
    height: 669px;

}

.btn_submit{
    width: 140px;
    height: 50px;
    font:lighter;
    border: none;
    font-size: 17pt;
    background-color: rgb(216, 39, 39);
    color: white;
}

.footer{
    background-color:blue;
    width: auto;
    height: 100px;
}