.container {
    position: relative;
    text-align: center;
    color: white;
    background-color: dimgrey;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold;
    font-size: 15pt;
    width: 826px;
    height: 320px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dnt-pln {
    text-align: center;
    height: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dnt_pln-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dnt-food {
    text-align: center;
    width: 400px;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dnt-shelter {
    text-align: center;
    width: 400px;
    background-color: darksalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dnt-edu {
    text-align: center;
    width: 400px;
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first_div {
    margin: 0 auto;
    display: inline-block;
    width: 1330px;
    height: 669px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn_donate {
    width: 140px;
    height: 50px;
    font: lighter;
    border: none;
    font-size: 17pt;
    background-color: rgb(216, 39, 39);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn_contribute {
    width: 240px;
    height: 50px;
    font: lighter;
    border: none;
    font-size: 17pt;
    background-color: rgb(216, 39, 39);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn-amt {
    width: 110px;
    height: 80px;
    font: bolder;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-200 {
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec_div {
    margin: 0 auto;
    display: inline-block;
    width: 1330px;
    height: 400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.th_div {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.live-div {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.survive-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.update-div {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    text-align: center;
    padding: 5px;
    background-color: #0B0D17;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}